<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ site.title }} - {{ page.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta name="author" content="{{ site.author }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#edd400">

<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">

<link rel="shortcut icon" href="/images/icon.png" type="image/x-icon"/>

<link rel="stylesheet" href="/styles/main.css">
