<!doctype html>
<html lang="{{ site.language }}-{{ site.country }}">
    <head>
      {% include head.html %}
    </head>
    <body>
      {% include header.html %}

      {% include nav.html %}

      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [
            {
              "@type": "ListItem",
              "position": 1,
              "item": {
                "@id": "{{ site.url }}{{ site.baseurl }}{{ page.url }}",
                "name": {{ page.title | jsonify }}
              }
            }
          ]
        }
      </script>

      <main class="page">
        <div class="title">
          <h1>{{ page.title }}</h1>
          <span class="description">{{ page.description }}</span>
        </div>
        <section class="content">
          {{ page.content }}
        </section>
      </main>

      {% include footer.html %}
    </body>
</html>
